.App{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.gridDiv, .gridItem{
  display: flex;
  flex-wrap: nowrap;
}

.topCarousel{
  background: linear-gradient(90deg, transparent, black);
  max-height: 568px !important;
  /* background-image: url('/src/images/student3.jpg'); */
  overflow: hidden;
}

.textImg{
  background-image: url('/src/images/student3.jpg');
  height: 595px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 20%;
}

.centerImg{
  background-image: url('/src/images/councelorCalling.jpg');
  height: 595px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 20%;
}

.enquiryForm {
  background-color: #28156F;/* #28156F with 50% opacity */
  background: linear-gradient(220deg, #28156F 50%, transparent);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #28156F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  width: 400px;
  max-height: 595px;
  margin-left: 0.5vh !important;
  margin-top: 0px !important;
}

.enquiryForm * {
  margin-top: 0px !important;
}

.header{
  margin: 5px 5px 0px 5px !important;
}

.title{
  color: #fff;
  font-family: 'Montserrat', sans-serif; /* Replace with your preferred font */
  font-weight: bold;
  font-size: 28px; /* Adjust font size as needed */
  letter-spacing: 2px;
}

.checkbox{
  display: flex;
}

.imp{
  color: #fff;
  margin-bottom: 0%;
  font-size: small;
  text-align: center;
}

.enquiryForm input::placeholder, .enquiryForm select option, .enquiryForm select {
  color: #28156F;
  font-size: medium;
  font-weight: 500;
}

.enquiryForm label{
  color: #fff;
  font-size: medium;
}

.enquiryForm input, .enquiryForm select, .customBtn {
  background-color: #fff;
  border: none;
  border-bottom: 2.5px solid #949494 !important;
  padding: 10px;
}

.enquiryForm input:hover, .enquiryForm select:hover, .customBtn:hover{
  background: linear-gradient(90deg, #fff, #dfd7fc);
}

.enquiryForm input:focus, .enquiryForm select:focus{
  outline: none !important;
  box-shadow: 2px 2px 10px #fff;
  background: linear-gradient(270deg, #dfd7fc, #fff);
  background-color: #fff;
}

.enquiryForm button[type="submit"] {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.enquiryForm button[type="submit"]:focus {
  box-shadow: 2px 2px 10px #fff;
}


.blueSection{
  background-color: #f0ebff;
  position: relative;
  padding-top: 2rem;
  margin-bottom: 4rem;
  /* overflow: hidden; */
}

.bottomCurve::after{
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  background-color: #f0ebff;
  border-radius: 0 0 50% 50%;
  height: 110px; /* Adjust height as needed */
  width: 100%;
}

.impGradient{
  background-color: #28156F;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #28156F, #755bd4);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.heading{
  font-family: 'Montserrat', sans-serif; /* Replace with your preferred font */
  font-weight: bold;
  font-size: 28px; /* Adjust font size as needed */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(133, 133, 133); /* Adjust color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.subTitle{
  color: #89235C;
}

.btnCustom{
  background-color: #28156F !important;
  color: #fff !important;
  transition: opacity 0.5s ease-out !important;
}

.btnCustom:hover{
  background-color: #28156F ;
  opacity: 0.7;
  transition: opacity 0.5s ease-in;
}

.shadowImg{
  /* box-shadow: 5px 5px 13px #28156F; */
  border:1px solid #28156F;
  margin-top: 2%;
}

.programCarousel .position-relative{
  border-radius: 50px 5px 50px 5px;
}

.programCarousel div{
  background-color: transparent !important;
  padding-bottom: 0 !important;
}

.img-fluid1{
  height: 400px;
  width: auto !important;
}

.img-fluid2{
  max-height: 60px;
  width: auto !important;
}

.tablinks {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px;
  margin: 5px;
  width: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #28156F;
  background-image: linear-gradient(90deg, #28156F, #614ea1);
  background-size: 100%;
  color: white;
}


.headLineDiv{
  margin-bottom: 2rem;
}

.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 1 50%;
  background: #fff;
  box-shadow: 0 2px 4px 1px rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #696380;
  color: #fff;
  transform: scale(1.02);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background:rgb(40, 21, 111, 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(40, 21, 111, 0.05%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}


.solution_card .solu_title {
  display: flex;
  justify-content: center;
  align-items: center
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 5px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(40 21 111 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  /* transform: rotate(-36deg); */
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

/* .stats{
  width: 60%;
  margin: 0 auto !important;
  border: 1px solid #28156F;
  background: linear-gradient(45deg, #28156F 1%, #f0ebff);
  border-radius: 18px;
} */

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust column count as needed */
  grid-gap: 1rem;
  width: 80%; /* Adjust width as needed */
  margin: 4rem auto 2rem !important;
  border: 1px solid #28156F;
  background: linear-gradient(90deg, transparent , #f0ebff 90%); 
  border-radius: 18px;
  padding: 2px;
  /* margin-top: 4rem !important; */
}

.seperationLine {
  /* Style your separation line here */
  position: relative;
  padding: 2px;
}

.styleLine p, .styleLine h2 {
  margin: 0 !important;
}

.styleLine h2{
  font-weight: bold;
}

.seperationLine::after {
  content: '';
  position: absolute;
  top: 25%;
  right: 0;
  width: 1px;
  height: 50%;
  background-color: #28156F;
}

.overviewDiv::before{
  content: '';
  position: absolute;
  top: -2rem;
  width: 100%;
  height: 50px;
  background-color: #F2EFFF;
  border-radius: 50% 50% 0 0;
  z-index: 0;
}

.overviewDiv{
  background-image: url('./images/stacked-waves-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 ;
  padding-top: 4rem;
  position: relative;
}

.overviewRow{
  justify-content: space-between;
  position: relative;
  margin-bottom: 4rem;
}

.overviewImg{
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 10px #28156F;
}

.overviewPara{
  position: relative;
  font-size: large;
  z-index: 2;
}

.svgBg {
  position: absolute;
  top: 0;
  left: 15rem;
  width: 110%;
  height: 100%;
  z-index: 0;
}


.padding-50px-tb {
  padding-top: 30px;
  padding-bottom: 27px;
}

.footerBox::before {
  content: '';
  position: absolute;
  top: -2rem;
  width: 100%;
  height: 50px;
  background-color: #28156F;
  border-radius: 50% 50% 0 0;
  z-index: 0;
}

.footerBox {
  background-color: #28156F;
  position: relative;
  z-index: 3;
}

.textFooter {
  text-align: center !important;
  color: #fff;
}

@media (max-width: 768px) {
  .stats {
    grid-template-columns: repeat(4, 1fr); /* Adjust column count for smaller screens */
  }

  .stats .text-center h2 {
    font-size: medium;
  }
  
  .stats .text-center p {
    font-size: x-small;
  }

}

  
/*start media query*/
@media screen and (min-width: 878px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }
  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 861px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
  }
  .our_solution_category {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width:992px) {
  .gridDiv{
    display: block;
    --bs-gutter-x:0rem;
    padding-right: 0px;
  }
  .enquiryForm{
    position: relative;
    top: 3vh;
    max-width: 400px;
    width: 90%;
    z-index: 0;
    margin: 0 auto 6vh auto !important;
    overflow: visible;
    max-height: max-content;
  }
  .overviewPara{
  margin-top: 2rem;
  }
}

@media (max-width: 767px) {
  .enquiryForm{
    position: relative;
    top: 3vh;
    max-width: 400px;
    width: 90%;
    z-index: 0;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    margin-bottom: 5vh;
    overflow: visible;
    max-height: max-content;
  }
  .gridDiv{
    display: block;
  }
  .gridItem{
    display: block;
  }
}
